*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #333;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html, body {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 5vw;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
  background-color: #7895CB;
}

img {
  pointer-events: none;
}

hr {
  width: 50vw;
  border: 10px solid #4A55A2;
  border-radius: 20%;
  margin-bottom: 100px;
}


.app {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #7895CB;
}

.app .avatar {
  width: 13rem;
  height: 13rem;
  margin-top: 1.4rem;
}

.app .avatar img {
  width: 100%;
  height: 100%;
  border-radius: 25%;
}

.app h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.3rem;
  letter-spacing: 0.16rem;
  margin: 0.5rem 0;
}

.app ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.6rem;
}

.app ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  width: 14.4rem;
  height: 2.6rem;
  border: 0.1rem solid #333;
  margin-bottom: 0.84rem;
}

.app ul li a {
  font-family: 'Inconsolata', monospace;
  font-size: 1rem;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app ul li:hover {
  background-color: #333;
}

.app ul li:hover a {
  color: white;
}

.app .author {
  font-family: sans-serif;
  font-size: 0.7rem;
  margin-bottom: 0.84rem;
}

@media screen and (min-width: 1025px) {
  html, body {
    background-color: #A0BFE0;
  }
  .phone {
    display: block;
    width: 6rem;
    height: auto;
  }
  .app {
    width: 19.5rem;
    height: 34.3rem;
    -webkit-transform: scale(0.2) translate(-49rem, -87.4rem);
            transform: scale(0.2) translate(-49rem, -87.4rem);
  }
  .app ul {
    margin-bottom: 0.3rem;
  }
}


/* PARTICLES + BACKGROUND */

/* ---- reset ---- */
body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
}

/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #a0bfe0;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* ---- stats.js ---- */
.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles {
  font-size: 1.1em;
}

#stats,
.count-particles {
  user-select: none;
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}