.str-style {
  stroke-dasharray: 700;
  stroke-dashoffset: 1000;
  animation: dash 4s linear forwards;
}
.cur,
.slider .slick-slide {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.cur-act,
.slider .slick-slide div .block:active {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: -o-grabbing;
  cursor: grabbing;
}
.before-style,
header h3::before,
header ul li::before,
section h2::before,
footer .foo_logo::before {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  content: "";
  width: 20px;
  height: 2px;
  background-color: #fff;
  transform-origin: 0 100%;
  transform: rotate(-5deg);
  transition: all 0.2s ease-out;
}
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
}
::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background-color: #191a1d;
}
::-webkit-scrollbar-thumb {
  border-radius: 1em;
  background-color: #312d3c;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #7895cb;
}
body {
  height: 100vh;
  margin: 0;
  line-height: 1.5;
  font-family: "Inconsolata", monospace;
  color: #fff;
  background-color: #191a1d;
}
.smooth {
  scroll-behavior: smooth;
  overflow-y: scroll;
  margin: 0 auto;
  width: calc(100% - 1em);
  padding: 0 1em;
  height: 100%;
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover,
a.active {
  color: #6f91d1;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
header,
footer {
  position: relative;
  padding: 2em 3em;
  display: flex;
  align-items: center;
  font-size: 1rem;
}
header {
  position: sticky;
  top: 0;
  z-index: 4;
  padding: 1em;
  min-height: 10vh;
  justify-content: space-between;
  background-color: #191a1d;
}
@media (max-width: 768px) {
  header {
    flex-direction: column;
  }
}
header h3 {
  position: relative;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: #7895cb;
}
header h3::before {
  background-color: #7895cb;
  width: 30px;
}
header ul {
  margin: 1em 0;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}
header ul li {
  position: relative;
  margin: 0 1em;
}
header ul li a {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
header ul li:hover::before {
  width: 100%;
  background-color: #7895cb;
}
.button {
  position: relative;
  padding: 1em 3em;
  text-transform: uppercase;
  display: block;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
  color: #fff;
  border: 3px solid #7895cb;
  border-radius: 0.35em;
  background: #7895cb;
  box-shadow: 0 6px 40px rgba(25, 26, 29, 0.25);
}
.button:hover {
  color: #1a376d;
}
section {
  position: relative;
  padding: 1.25em 1em;
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  background-color: #191a1d;
}
section:nth-child(odd) {
  background-color: #1d1e22;
}
section h2 {
  position: relative;
  text-transform: uppercase;
  margin-bottom: 1em;
  font-family: "Montserrat", sans-serif;
}
section h2::before {
  width: 50px;
}
section#section1 {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
section#section1::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: #191a1d;
  opacity: 0.5;
}
.c-faq__answer {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.container {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(26, 55, 109, 0.85);
  border-radius: 25px;
  z-index: 1;
  padding: 25px;
}
.section__headline {
  font-size: 62px;
  font-weight: light;
  color: #7895cb;
  padding-left: 15px;
  padding-top: 30px;
}
.c-faqs__headline {
  text-align: left;
  padding-left: 15px;
  font-size: 1.5em;
  margin-top: 1.5em;
  font-weight: bold;
}
.c-faqs {
  margin: 15px 0;
  padding: 0 15px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.c-faq {
  list-style: none;
  margin: 10px 0 5px;
}
.c-faq__title {
  cursor: pointer;
  font-weight: 500;
  z-index: 10;
  position: relative;
  font-size: 1.35em;
}
.c-faq__title:hover {
  text-decoration: underline;
}
.c-faq__title::after {
  white-space: nowrap;
  font-weight: 300;
  padding-left: 5px;
  opacity: 0;
  transform-origin: 11px;
  transform: rotateZ(90deg);
  display: none;
  content: ">";
}
.c-faq--active .c-faq__title {
  color: #7895cb;
}
.c-faq--active .c-faq__title::after {
  opacity: 1;
  transform: rotateZ(90deg);
  display: inline-block;
}
.c-faq__answer {
  font-weight: normal;
  margin-top: -10%;
  transition: all 0.1s;
  z-index: 1;
  font-size: 1.1em;
  color: white;
}
.c-faq--active .c-faq__answer {
  opacity: 1;
  position: relative;
  top: 0;
  left: 0;
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 10px;
  transition: all 0.2s;
  border-radius: 3px;
  border: 1px solid #f1f2f3;
  border-top: 1px solid #7895cb;
  padding: 20px;
}
@media (min-width: 1400px) {
  .c-faqs {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }
  .c-faqs::before {
    opacity: 0.2;
  }
  .c-faq {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .c-faq .c-faq__title {
    width: 50%;
    padding-right: 40px;
    display: inline-block;
  }
  .c-faq .c-faq__title::after {
    display: none;
  }
  .c-faq .c-faq__answer {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    width: 50%;
    border-left-color: #7895cb;
    border-top-color: #f1f2f3;
  }
}
section#pub {
  min-height: 50vh;
}
section#pub form {
  margin-top: 1em;
  width: 80%;
  flex-direction: column;
  justify-content: space-around;
}
@media (min-width: 768px) {
  section#pub form {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
section#pub form input {
  margin: 0.5em auto;
  width: 100%;
}
@media (min-width: 768px) {
  section#pub form input {
    width: auto;
  }
}
.grid {
  display: grid;
  grid-gap: 2em;
}
@media (min-width: 991px) {
  .grid.g_three {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 991px) {
  .grid.g_four {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 991px) {
  .grid.g_two {
    grid-template-columns: 1fr minmax(300px, auto);
  }
}
.flex {
  display: flex;
  width: 100%;
  align-items: center;
}
.flex.column {
  flex-flow: column wrap;
  justify-content: space-between;
}
.bar_val {
  justify-content: flex-end;
}
.bar_val h3 {
  margin-right: 1em;
}
@media (min-width: 768px) {
  .bar_val {
    justify-content: space-between;
  }
}
progress {
  position: relative;
  margin: 1em 0;
}
progress[value] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  max-width: 360px;
  height: 1px;
}
progress::-webkit-progress-bar {
  background-color: #666;
  border-radius: 1em;
}
progress::-webkit-progress-value {
  position: absolute;
  top: -2px;
  left: 0;
  background-color: #7895cb;
  border-radius: 1em;
  height: 5px;
}
.slider {
  width: 90%;
}
.slider .slick-track {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider .slick-arrow {
  width: 40px;
  height: 100%;
  text-align: center;
}
.slider .slick-arrow::before {
  width: inherit;
  height: inherit;
  font-size: 36px;
  color: #312d3c;
  transition: color 200ms linear;
}
.slider .slick-arrow:hover::before {
  color: #7895cb;
}
.slider .slick-slide {
  display: flex;
  padding: 15px;
}
.slider .slick-slide:focus {
  outline: none;
}
.slider .slick-slide div {
  text-align: center;
  display: flex;
  width: 100%;
  align-items: stretch;
}
.slider .slick-slide div .block {
  position: relative;
}
.slider .slick-slide div .block::before {
  position: absolute;
  top: -25%;
  right: -25%;
  z-index: 0;
  width: 100%;
  height: 100%;
  font-family: "FontAwesome";
  font-size: 12rem;
  color: #1d1e22;
  opacity: 0.05;
}
.slider .slick-slide div .block:focus {
  outline: none;
}
.slick-dots {
  position: relative;
  margin-top: 0.5em;
}
.slick-dots li {
  position: relative;
  margin: 0 0.5em 1.5em;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: 2px solid #312d3c;
  border-radius: 50%;
  background-color: #1d1e22;
}
.slick-dots li:hover,
.slick-dots li.slick-active {
  background-color: #312d3c;
  transform: scale(1.2);
}
.slick-dots li button::before {
  display: none;
}
.reseaux {
  display: flex;
}
.reseaux > a {
  margin: 25px 25px 25px 25px;
}
@media (max-width: 400px) {
  .reseaux {
    display: flex;
    flex-direction: column;
  }
  .reseaux > a {
    margin: 25px 5px 0 5px;
  }
  .smooth {
    width: 100%;
    padding-right: 0;
    padding-left: 10px;
  }
  .blockquote::before {
    display: none;
  }
}
footer {
  padding-bottom: 1em;
  width: 100%;
  min-height: 10vh;
  flex-direction: column;
  justify-content: space-around;
  border-top: 2px solid #312d3c;
  background-color: #191a1d;
}
@media (min-width: 480px) {
  footer .widgets {
    display: grid;
    width: 100%;
    grid-gap: 1em;
    grid-template-areas: "l l" "w1 w2" "w3 w4";
  }
}
@media (min-width: 768px) {
  footer .widgets {
    grid-template-areas: "l w1 w2" "w3 w4 w4";
  }
}
@media (min-width: 1024px) {
  footer .widgets {
    grid-template-areas: "l w1 w2 w3 w4";
  }
}
footer .widgets .f_logo {
  grid-area: l;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .widgets .widget {
  margin-bottom: 1.5em;
}
footer .widgets .widget:nth-of-type(2) {
  grid-area: w1;
}
footer .widgets .widget:nth-of-type(3) {
  grid-area: w2;
}
footer .widgets .widget:nth-of-type(4) {
  grid-area: w3;
}
footer .widgets .widget:last-child {
  grid-area: w4;
}
footer .copy {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 576px) {
  footer .copy {
    flex-direction: column;
    text-align: center;
  }
  footer .copy a {
    display: block;
  }
}
footer .foo_logo {
  position: relative;
  font-family: "Montserrat", sans-serif;
  color: #7895cb;
}
footer .foo_logo::before {
  background-color: #7895cb;
}
footer h5 {
  margin-bottom: 1em;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}
footer h5.follow {
  color: #7895cb;
}
footer li {
  will-change: transform;
  transition: transform 200ms ease-in;
}
footer li i {
  opacity: 0.5;
}
footer li:hover,
footer li.active {
  transform: translateX(5px);
}
footer .copy {
  margin-top: 1em;
  border-top: 2px solid #312d3c;
}
footer .copy p {
  margin: 0.75em 0 0;
}
footer .copy .heart {
  position: relative;
  display: inline-block;
  color: #7895cb;
  animation: hearts 0.6s cubic-bezier(0.18, 0.89, 0.29, 1.05) infinite;
}
@-moz-keyframes dash {
  to {
    stroke-dashoffset: 0;
    fill: #fff;
  }
}
@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0;
    fill: #fff;
  }
}
@-o-keyframes dash {
  to {
    stroke-dashoffset: 0;
    fill: #fff;
  }
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
    fill: #fff;
  }
}
@-moz-keyframes hearts {
  50% {
    transform: scale(1.4);
  }
}
@-webkit-keyframes hearts {
  50% {
    transform: scale(1.4);
  }
}
@-o-keyframes hearts {
  50% {
    transform: scale(1.4);
  }
}
@keyframes hearts {
  50% {
    transform: scale(1.4);
  }
}
