.fa {
  width: 10px;
  height: 10px;
}
hr {
  width: 25vw;
  height: 1px;
  background-color: #7895CB;
  border: none;
  margin-bottom: 5px;
}
.str-style {
    stroke-dasharray: 700;
    stroke-dashoffset: 1000;
    animation: dash 4s linear forwards;
  }
  .cur,
  .slider .slick-slide {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }
  .cur-act,
  .slider .slick-slide div .block:active {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: -o-grabbing;
    cursor: grabbing;
  }
  .before-style,
  header h3::before,
  header ul li::before,
  section h2::before,
  footer .foo_logo::before {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    content: '';
    width: 20px;
    height: 2px;
    background-color: #fff;
    transform-origin: 0 100%;
    transform: rotate(-5deg);
    transition: all 0.2s ease-out;
  }
  *,
  ::before,
  ::after {
    box-sizing: border-box;
    margin: 0;
  }
  ::-webkit-scrollbar {
    width: 8px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background-color: #191a1d;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 1em;
    background-color: #312d3c;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #7895CB;
  }
  body {
    height: 100vh;
    overflow: hidden;
    margin: 0;
    line-height: 1.5;
    font-family: 'Inconsolata', monospace;
    color: #fff;
    background-color: #191a1d;
  }
  .smooth {
    scroll-behavior: smooth;
    overflow-y: scroll;
    margin: 0 auto;
    width: calc(100% - 1em);
    padding: 0 1em;
    height: 100%;
  }
  a {
    text-decoration: none;
    color: #fff;
  }
  a:hover,
  a.active {
    color: #6f91d1;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  header,
  footer {
    position: relative;
    padding: 2em 3em;
    display: flex;
    align-items: center;
    font-size: 1rem;
  }
  header {
    position: sticky;
    top: 0;
    z-index: 4;
    padding: 1em;
    min-height: 10vh;
    justify-content: space-between;
    background-color: #191a1d;
  }
  @media (max-width: 768px) {
    header {
      flex-direction: column;
    }
  }
  header h3 {
    position: relative;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #7895CB;
  }
  header h3::before {
    background-color: #7895CB;
    width: 30px;
  }
  header ul {
    margin: 1em 0;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
  }
  header ul li {
    position: relative;
    margin: 0 1em;
  }
  header ul li a {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
  }
  header ul li:hover::before {
    width: 100%;
    background-color: #7895CB;
  }
  @media (max-width: 576px) {
    nav {
      display: none;
    }
  }
  input {
    margin-bottom: 1em;
    min-height: 3em;
    width: 45%;
    font-size: 1rem;
    color: #fff;
    border: 0;
    border-bottom: 2px solid #fff;
    background: none;
  }
  input::placeholder {
    position: relative;
    top: 0;
    color: inherit;
    transition: all 0.2s linear;
  }
  input:focus {
    outline: none;
  }
  input:focus::placeholder {
    top: -1.25em;
    font-size: 0.825rem;
  }
  .button {
    position: relative;
    padding: 1em 3em;
    text-transform: uppercase;
    display: block;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 600;
    color: #fff;
    border: 3px solid #7895CB;
    border-radius: 0.35em;
    background: #7895CB;
    box-shadow: 0 6px 40px rgba(25,26,29,0.25);
  }
  .button:hover {
    color: #1a376d;
  }
  section {
    position: relative;
    padding: 1.25em 1em;
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    background-color: #191a1d;
  }
  section:nth-child(odd) {
    background-color: #1d1e22;
  }
  section h2 {
    position: relative;
    text-transform: uppercase;
    margin-bottom: 1em;
    font-family: 'Montserrat', sans-serif;
  }
  section h2::before {
    width: 50px;
  }
  section#section1 {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  section#section1::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: #191a1d;
    opacity: 0.5;
  }
  section#section1 h1 {
    display: none;
  }
  section#section1 .content {
    z-index: 1;
  }
  @media (min-width: 991px) {
    section#section1 .content {
      display: grid;
      grid-template-columns: 1fr minmax(40%, auto);
      grid-gap: 1em;
    }
  }
  section#section1 .content .title {
    display: block;
    width: 100%;
    height: 100px;
    font-family: 'Montserrat', sans-serif;
    transform: scale(0.9);
    font-size: 2.5rem;
  }
  @media (min-width: 480px) {
    section#section1 .content .title {
      font-size: 3rem;
      font-weight: 600;
    }
  }
  section#section1 .content .title text {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-dasharray: 700;
    stroke-dashoffset: 1000;
    animation: dash 3s linear forwards;
  }
  section#section1 .content .title path {
    stroke: #fff;
    stroke-width: 4;
    stroke-dasharray: 700;
    stroke-dashoffset: 1000;
    animation: dash 4s ease-in forwards;
  }
  section#section1 .content .lead {
    font-size: 1.25rem;
  }
  section#section1 .content .lead a {
    color: #7895CB;
  }
  section#section1 .content .blur {
    position: relative;
    margin: 1em auto;
    padding: 1em;
    overflow: hidden;
    width: 75%;
    height: 75%;
    max-height: 187.5px;
    min-width: 240px;
    border-radius: 0.35em;
    background-color: rgba(255,255,255,0.25);
    backdrop-filter: blur(10px);
  }
  section#section1 .content .blur form {
    position: relative;
    margin: auto;
    padding: 1em;
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 155.5px;
    min-width: 208px;
    flex-direction: column;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 0.35em;
  }
  @media (min-width: 990px) {
    section#section1 .content .blur form .button {
      margin: 30px 0 0 0;
    }
  }

  

  #features-container {
    border: solid 1px rgb(74, 85, 162, .5);
    box-shadow: 2px 2px 15px rgb(74, 85, 162, .5);
    margin: 5% 0 5% 0;
    padding: 2%;
    border-radius: 25px;
  }
  
  #service-features {
    display: flex;
    flex-direction: row;
    /* Change flow-direction to "column" in the responsive design for the features to stack
    one on top of another. */
    justify-content: space-around;
    margin-top: 2%;
    padding-bottom: 3%;
  }

  @media (max-width: 1200px) {
    #service-features {
      align-items: center;
      flex-direction: column;
    }
    #feature {
      width: 90% !important;
      margin-bottom: 25px;
    }
  }
  
  #features-description {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 2%;
    padding: 1%;
    display: flex;
    width: 60%;
  }
  
  #features-description h1 {
    font-size: 45px;
  }
  
  #features-description p {
    padding: 1%;
    margin-top: 1%;
  }
  
  #feature {
    border-radius: 25px;
    width: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 2px 15px rgb(74, 85, 162, .5);
  }
  
  #feature img {
    max-width: 30%;
    max-height: 30%;
    padding-top: 5%;
  }
  
  #feature-title {
    margin-top: 5%;
  }
  
  #feature p {
    width: 70%;
    margin-top: 5%;
  }
  
  #feature-button {
    border: none;
    margin-top: 30%;
    width: 12vh;
    height: 5vh;
    border-radius: 15px;
    background-color: #7895CB;
    color: white;
    font-size: 16px;
    margin-bottom: 20%;
  }
  
  #feature-button:hover {
    background-color: #C5DFF8;
    cursor: pointer;
    color: #4A55A2;
  }

  section#section3 .post {
    padding: 0.25em 0.5em;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    border: 4px solid transparent;
    border-radius: 0.35em;
    transition: transform 0.2s linear;
  }
  section#section3 .post h3 {
    margin: 0;
  }
  section#section3 .post h3:hover {
    color: #7895CB;
  }
  section#section3 .post .date {
    color: #666;
  }
  section#section3 .post .tags {
    position: relative;
    padding: 0.5em 0;
    padding-left: 30px;
    border-top: 1px solid #312d3c;
    color: #666;
  }
  section#section3 .post .tags a {
    color: #666;
  }
  section#section3 .post .tags::before {
    position: absolute;
    left: 0;
    content: '\f02c';
    font-family: 'FontAwesome';
  }
  section#section3 .post p {
    margin: 0 0 10px 0;
  }
  section#section3 .post:hover {
    transform: scale(0.98);
    background-color: #191a1d;
  }
  section#section3 .post:hover:hover h3 {
    color: #7895CB;
  }
  section#section3 .grid {
    margin-top: 50px;
  }
  section#section3 .pc-icon {
    width: 16px;
    height: 16px;
    margin: 0 15px 0 15px
  }
  section#section4 .block {
    position: relative;
    margin: 0.5em auto;
    padding: 50px;
    overflow: hidden;
    display: flex !important;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 4px solid #312d3c;
    border-radius: 0.75em;
    transition: all 0.2s linear;
    will-change: transform;
  }
  section#section4 .block figure {
    position: relative;
    z-index: 1;
    min-height: 75px;
  }
  section#section4 .block figure img {
    margin: auto;
    border-radius: 0.5em;
    width: 200px;
  }
  section#section4 .block figure figcaption {
    position: relative;
    padding-top: 1em;
    font-weight: 700;
    color: #7895CB;
  }
  section#section4 .block p {
    margin: 0;
  }
  section#section4 .block.active,
  section#section4 .block:hover {
    background-color: #312d3c;
    transform: translateY(-10px);
  }
  section#section5 .slick-slide {
    text-align: center;
  }
  section#section5 .slick-slide:focus {
    outline: none;
  }
  section#section5 .slick-slide div div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  section#section5 .slick-slide div div img {
    margin: 0 auto 1em;
    border-radius: 0.5em;
  }
  section#section5 .slick-slide .blockquote {
    position: relative;
    overflow: hidden;
    margin-top: 1.5em;
    padding: 1em 2em;
    border-radius: 1em;
    border: 4px solid #312d3c;
    transition: all 0.2s linear;
  }
  section#section5 .slick-slide .blockquote::before {
    position: absolute;
    top: -20px;
    right: 10px;
    z-index: 0;
    content: '\f10d';
    font-family: 'FontAwesome';
    font-size: 5rem;
    color: rgb(31, 32, 36);
    opacity: 0.8;
  }
  section#section5 .slick-slide .blockquote .author {
    position: relative;
    z-index: 1;
    display: block;
    font-size: 1.25rem;
    color: #7895CB;
    font-weight: 600;
  }
  section#section5 .slick-slide .blockquote .pos {
    position: relative;
    z-index: 1;
    padding-bottom: 0.25em;
    display: block;
    font-size: 1.25rem;
    border-bottom: 1px solid #312d3c;
  }
  section#section5 .slick-slide .blockquote:hover {
    background-color: #312d3c;
  }
  
  section#pub {
    min-height: 50vh;
  }
  section#pub form {
    margin-top: 1em;
    width: 80%;
    flex-direction: column;
    justify-content: space-around;
  }
  @media (min-width: 768px) {
    section#pub form {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
  section#pub form input {
    margin: 0.5em auto;
    width: 100%;
  }
  @media (min-width: 768px) {
    section#pub form input {
      width: auto;
    }
  }
  
  
  .grid {
    display: grid;
    grid-gap: 2em;
  }
  @media (min-width: 991px) {
    .grid.g_three {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media (min-width: 991px) {
    .grid.g_four {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  @media (min-width: 991px) {
    .grid.g_two {
      grid-template-columns: 1fr minmax(300px, auto);
    }
  }
  .flex {
    display: flex;
    width: 100%;
    align-items: center;
  }
  .flex.column {
    flex-flow: column wrap;
    justify-content: space-between;
  }
  .bar_val {
    justify-content: flex-end;
  }
  .bar_val h3 {
    margin-right: 1em;
  }
  @media (min-width: 768px) {
    .bar_val {
      justify-content: space-between;
    }
  }
  
  progress {
    position: relative;
    margin: 1em 0;
  }
  progress[value] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    max-width: 360px;
    height: 1px;
  }
  progress::-webkit-progress-bar {
    background-color: #666;
    border-radius: 1em;
  }
  progress::-webkit-progress-value {
    position: absolute;
    top: -2px;
    left: 0;
    background-color: #7895CB;
    border-radius: 1em;
    height: 5px;
  }
  .slider {
    width: 90%;
  }
  .slider .slick-track {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slider .slick-arrow {
    width: 40px;
    height: 100%;
    text-align: center;
  }
  .slider .slick-arrow::before {
    width: inherit;
    height: inherit;
    font-size: 36px;
    color: #312d3c;
    transition: color 200ms linear;
  }
  .slider .slick-arrow:hover::before {
    color: #7895CB;
  }
  .slider .slick-slide {
    display: flex;
    padding: 15px;
  }
  .slider .slick-slide:focus {
    outline: none;
  }
  .slider .slick-slide div {
    text-align: center;
    display: flex;
    width: 100%;
    align-items: stretch;
  }
  .slider .slick-slide div .block {
    position: relative;
  }
  .slider .slick-slide div .block::before {
    position: absolute;
    top: -25%;
    right: -25%;
    z-index: 0;
    width: 100%;
    height: 100%;
    font-family: 'FontAwesome';
    font-size: 12rem;
    color: #1d1e22;
    opacity: 0.05;
  }
  .slider .slick-slide div .block:focus {
    outline: none;
  }
  .slick-dots {
    position: relative;
    margin-top: 0.5em;
  }
  .slick-dots li {
    position: relative;
    margin: 0 0.5em 1.5em;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: 2px solid #312d3c;
    border-radius: 50%;
    background-color: #1d1e22;
  }
  .slick-dots li:hover,
  .slick-dots li.slick-active {
    background-color: #312d3c;
    transform: scale(1.2);
  }
  .slick-dots li button::before {
    display: none;
  }
  .reseaux {
    display: flex;
  }
  .reseaux > a{
    margin: 25px 25px 25px 25px;
  }
  @media (max-width: 400px) {
    .reseaux {
      display: flex;
      flex-direction: column;
    }
    .reseaux > a {
      margin: 25px 5px 0 5px;
    }
    .smooth {
      width: 100%;
      padding-right: 0;
      padding-left: 10px;
    }
    .blockquote::before {
      display: none;
    }
  }
  footer {
    padding-bottom: 1em;
    width: 100%;
    min-height: 10vh;
    flex-direction: column;
    justify-content: space-around;
    border-top: 2px solid #312d3c;
    background-color: #191a1d;
  }
  @media (min-width: 480px) {
    footer .widgets {
      display: grid;
      width: 100%;
      grid-gap: 1em;
      grid-template-areas: 'l l' 'w1 w2' 'w3 w4';
    }
  }
  @media (min-width: 768px) {
    footer .widgets {
      grid-template-areas: 'l w1 w2' 'w3 w4 w4';
    }
  }
  @media (min-width: 1024px) {
    footer .widgets {
      grid-template-areas: 'l w1 w2 w3 w4';
    }
  }
  footer .widgets .f_logo {
    grid-area: l;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer .widgets .widget {
    margin-bottom: 1.5em;
  }
  footer .widgets .widget:nth-of-type(2) {
    grid-area: w1;
  }
  footer .widgets .widget:nth-of-type(3) {
    grid-area: w2;
  }
  footer .widgets .widget:nth-of-type(4) {
    grid-area: w3;
  }
  footer .widgets .widget:last-child {
    grid-area: w4;
  }
  footer .copy {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  @media (max-width: 576px) {
    footer .copy {
      flex-direction: column;
      text-align: center;
    }
    footer .copy a {
      display: block;
    }
  }
  footer .foo_logo {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    color: #7895CB;
  }
  footer .foo_logo::before {
    background-color: #7895CB;
  }
  footer h5 {
    margin-bottom: 1em;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
  }
  footer h5.follow {
    color: #7895CB;
  }
  footer li {
    will-change: transform;
    transition: transform 200ms ease-in;
  }
  footer li i {
    opacity: 0.5;
  }
  footer li:hover,
  footer li.active {
    transform: translateX(5px);
  }
  footer .copy {
    margin-top: 1em;
    border-top: 2px solid #312d3c;
  }
  footer .copy p {
    margin: 0.75em 0 0;
  }
  footer .copy .heart {
    position: relative;
    display: inline-block;
    color: #7895CB;
    animation: hearts 0.6s cubic-bezier(0.18, 0.89, 0.29, 1.05) infinite;
  }
  @-moz-keyframes dash {
    to {
      stroke-dashoffset: 0;
      fill: #fff;
    }
  }
  @-webkit-keyframes dash {
    to {
      stroke-dashoffset: 0;
      fill: #fff;
    }
  }
  @-o-keyframes dash {
    to {
      stroke-dashoffset: 0;
      fill: #fff;
    }
  }
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
      fill: #fff;
    }
  }
  @-moz-keyframes hearts {
    50% {
      transform: scale(1.4);
    }
  }
  @-webkit-keyframes hearts {
    50% {
      transform: scale(1.4);
    }
  }
  @-o-keyframes hearts {
    50% {
      transform: scale(1.4);
    }
  }
  @keyframes hearts {
    50% {
      transform: scale(1.4);
    }
  }
  