.fa-solid {
  width: 10px;
  height: 10px;
  margin-left: 10px;
}
.str-style {
  stroke-dasharray: 700;
  stroke-dashoffset: 1000;
  animation: dash 4s linear forwards;
}
.cur,
.slider .slick-slide {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.cur-act,
.slider .slick-slide div .block:active {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: -o-grabbing;
  cursor: grabbing;
}
hr {
  width: 25vw;
  height: 1px;
  background-color: #7895cb;
  border: none;
  margin-bottom: 5px;
}
.before-style,
header h3::before,
header ul li::before,
section h2::before,
footer .foo_logo::before {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  content: "";
  width: 20px;
  height: 2px;
  background-color: #fff;
  transform-origin: 0 100%;
  transform: rotate(-5deg);
  transition: all 0.2s ease-out;
}
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
}
::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background-color: #191a1d;
}
::-webkit-scrollbar-thumb {
  border-radius: 1em;
  background-color: #312d3c;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #7895cb;
}
body {
  height: 100vh;
  overflow: hidden;
  margin: 0;
  line-height: 1.5;
  font-family: "Inconsolata", monospace;
  color: #fff;
  background-color: #191a1d;
}
.smooth {
  scroll-behavior: smooth;
  overflow-y: scroll;
  margin: 0 auto;
  width: calc(100% - 1em);
  padding: 0 1em;
  height: 100%;
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover,
a.active {
  color: #6f91d1;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
header,
footer {
  position: relative;
  padding: 2em 3em;
  display: flex;
  align-items: center;
  font-size: 1rem;
}
header {
  position: sticky;
  top: 0;
  z-index: 4;
  padding: 1em;
  min-height: 10vh;
  justify-content: space-between;
  background-color: #191a1d;
}
@media (max-width: 768px) {
  header {
    flex-direction: column;
  }
}
header h3 {
  position: relative;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: #7895cb;
}
header h3::before {
  background-color: #7895cb;
  width: 30px;
}
header ul {
  margin: 1em 0;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}
header ul li {
  position: relative;
  margin: 0 1em;
}
header ul li a {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
header ul li:hover::before {
  width: 100%;
  background-color: #7895cb;
}
.button {
  position: relative;
  padding: 1em 3em;
  text-transform: uppercase;
  display: block;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
  color: #fff;
  border: 3px solid #7895cb;
  border-radius: 0.35em;
  background: #7895cb;
  box-shadow: 0 6px 40px rgba(25, 26, 29, 0.25);
}
.button:hover {
  color: #1a376d;
}
.panier-button {
  display: inline-block;
  padding: 10px 20px; /* Adjust the padding to make the button bigger */
  background-color: #7895cb6e; /* Blue background color */
  color: #fff; /* White text color */
  text-decoration: none;
  border-radius: 5px; /* Rounded corners */
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s; /* Animation duration */
  width: 75%;

  /* Center the text both horizontally and vertically */
  text-align: center;
  line-height: 1.5;
  font-size: 18px; /* Adjust font size for button text */

  /* Add a subtle box shadow for depth */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Hover effect to make the button change color and size slightly */
.panier-button:hover {
  background-color: #5375b37e; /* Darker blue on hover */
  color: gray;
  transform: scaleX(1.04);
  transition: background-color 0.3s, transform 0.2s;
  transform-origin: left;
}
section {
  position: relative;
  padding: 1.25em 1em;
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  background-color: #191a1d;
}
section:nth-child(odd) {
  background-color: #1d1e22;
}
section h2 {
  position: relative;
  text-transform: uppercase;
  margin-bottom: 1em;
  font-family: "Montserrat", sans-serif;
}
section h2::before {
  width: 50px;
}

section#section3 h2 {
  margin-top: 100px;
}
section#section3 .post {
  padding: 0.25em 0.5em;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  border: 4px solid transparent;
  border-radius: 0.35em;
  transition: transform 0.2s linear;
}
section#section3 .post h3 {
  margin: 0;
}
section#section3 .post h3:hover {
  color: #7895cb;
}
section#section3 .post .date {
  color: #666;
}
section#section3 .post .tags {
  position: relative;
  padding: 0.5em 0;
  padding-left: 30px;
  border-top: 1px solid #312d3c;
  color: #666;
}
section#section3 .post .tags a {
  color: #666;
}
section#section3 .post .tags::before {
  position: absolute;
  left: 0;
  content: "\f02c";
  font-family: "FontAwesome";
}
section#section3 .post p {
  margin: 0 0 10px 0;
}
section#section3 .post:hover {
  transform: scale(0.98);
  background-color: #191a1d;
}
section#section3 .post:hover:hover h3 {
  color: #7895cb;
}
section#section3 .grid {
  margin-top: 50px;
}
section#section3 .pc-icon {
  width: 16px;
  height: 16px;
  margin: 0 15px 0 15px;
}

section#pub {
  min-height: 50vh;
}
section#pub form {
  margin-top: 1em;
  width: 80%;
  flex-direction: column;
  justify-content: space-around;
}
@media (min-width: 768px) {
  section#pub form {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
section#pub form input {
  margin: 0.5em auto;
  width: 100%;
}
@media (min-width: 768px) {
  section#pub form input {
    width: auto;
  }
}
.grid {
  display: grid;
  grid-gap: 2em;
}
@media (min-width: 991px) {
  .grid.g_three {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 991px) {
  .grid.g_four {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 991px) {
  .grid.g_two {
    grid-template-columns: 1fr minmax(300px, auto);
  }
}
.flex {
  display: flex;
  width: 100%;
  align-items: center;
}
.flex.column {
  flex-flow: column wrap;
  justify-content: space-between;
}
.bar_val {
  justify-content: flex-end;
}
.bar_val h3 {
  margin-right: 1em;
}
@media (min-width: 768px) {
  .bar_val {
    justify-content: space-between;
  }
}
progress {
  position: relative;
  margin: 1em 0;
}
progress[value] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  max-width: 360px;
  height: 1px;
}
progress::-webkit-progress-bar {
  background-color: #666;
  border-radius: 1em;
}
progress::-webkit-progress-value {
  position: absolute;
  top: -2px;
  left: 0;
  background-color: #7895cb;
  border-radius: 1em;
  height: 5px;
}
.slider {
  width: 90%;
}
.slider .slick-track {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider .slick-arrow {
  width: 40px;
  height: 100%;
  text-align: center;
}
.slider .slick-arrow::before {
  width: inherit;
  height: inherit;
  font-size: 36px;
  color: #312d3c;
  transition: color 200ms linear;
}
.slider .slick-arrow:hover::before {
  color: #7895cb;
}
.slider .slick-slide {
  display: flex;
  padding: 15px;
}
.slider .slick-slide:focus {
  outline: none;
}
.slider .slick-slide div {
  text-align: center;
  display: flex;
  width: 100%;
  align-items: stretch;
}
.slider .slick-slide div .block {
  position: relative;
}
.slider .slick-slide div .block::before {
  position: absolute;
  top: -25%;
  right: -25%;
  z-index: 0;
  width: 100%;
  height: 100%;
  font-family: "FontAwesome";
  font-size: 12rem;
  color: #1d1e22;
  opacity: 0.05;
}
.slider .slick-slide div .block:focus {
  outline: none;
}
.slick-dots {
  position: relative;
  margin-top: 0.5em;
}
.slick-dots li {
  position: relative;
  margin: 0 0.5em 1.5em;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: 2px solid #312d3c;
  border-radius: 50%;
  background-color: #1d1e22;
}
.slick-dots li:hover,
.slick-dots li.slick-active {
  background-color: #312d3c;
  transform: scale(1.2);
}
.slick-dots li button::before {
  display: none;
}
.reseaux {
  display: flex;
}
.reseaux > a {
  margin: 25px 25px 25px 25px;
}
@media (max-width: 400px) {
  .reseaux {
    display: flex;
    flex-direction: column;
  }
  .reseaux > a {
    margin: 25px 5px 0 5px;
  }
  .smooth {
    width: 100%;
    padding-right: 0;
    padding-left: 10px;
  }
  .blockquote::before {
    display: none;
  }
}
footer {
  padding-bottom: 1em;
  width: 100%;
  min-height: 10vh;
  flex-direction: column;
  justify-content: space-around;
  border-top: 2px solid #312d3c;
  background-color: #191a1d;
}
@media (min-width: 480px) {
  footer .widgets {
    display: grid;
    width: 100%;
    grid-gap: 1em;
    grid-template-areas: "l l" "w1 w2" "w3 w4";
  }
}
@media (min-width: 768px) {
  footer .widgets {
    grid-template-areas: "l w1 w2" "w3 w4 w4";
  }
}
@media (min-width: 1024px) {
  footer .widgets {
    grid-template-areas: "l w1 w2 w3 w4";
  }
}
footer .widgets .f_logo {
  grid-area: l;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .widgets .widget {
  margin-bottom: 1.5em;
}
footer .widgets .widget:nth-of-type(2) {
  grid-area: w1;
}
footer .widgets .widget:nth-of-type(3) {
  grid-area: w2;
}
footer .widgets .widget:nth-of-type(4) {
  grid-area: w3;
}
footer .widgets .widget:last-child {
  grid-area: w4;
}
footer .copy {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 576px) {
  footer .copy {
    flex-direction: column;
    text-align: center;
  }
  footer .copy a {
    display: block;
  }
}
footer .foo_logo {
  position: relative;
  font-family: "Montserrat", sans-serif;
  color: #7895cb;
}
footer .foo_logo::before {
  background-color: #7895cb;
}
footer h5 {
  margin-bottom: 1em;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}
footer h5.follow {
  color: #7895cb;
}
footer li {
  will-change: transform;
  transition: transform 200ms ease-in;
}
footer li i {
  opacity: 0.5;
}
footer li:hover,
footer li.active {
  transform: translateX(5px);
}
footer .copy {
  margin-top: 1em;
  border-top: 2px solid #312d3c;
}
footer .copy p {
  margin: 0.75em 0 0;
}
footer .copy .heart {
  position: relative;
  display: inline-block;
  color: #7895cb;
  animation: hearts 0.6s cubic-bezier(0.18, 0.89, 0.29, 1.05) infinite;
}
@-moz-keyframes dash {
  to {
    stroke-dashoffset: 0;
    fill: #fff;
  }
}
@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0;
    fill: #fff;
  }
}
@-o-keyframes dash {
  to {
    stroke-dashoffset: 0;
    fill: #fff;
  }
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
    fill: #fff;
  }
}
@-moz-keyframes hearts {
  50% {
    transform: scale(1.4);
  }
}
@-webkit-keyframes hearts {
  50% {
    transform: scale(1.4);
  }
}
@-o-keyframes hearts {
  50% {
    transform: scale(1.4);
  }
}
@keyframes hearts {
  50% {
    transform: scale(1.4);
  }
}
